  <div class="row">

      <div class="col-6">
        <app-donut [valorTitle] = 'titleGr1'></app-donut>
      </div>
      <div class="col-6">
        <app-donut [valorTitle] = 'titleGr1'></app-donut>
      </div>

  </div>
  <div class="row">

      <div class="col-6">
        <app-donut [labels] = 'labelsGr2'></app-donut>
      </div>
      <div class="col-6">
        <app-donut [labels] = 'labelsGr2'></app-donut>
      </div>

  </div>
  <div class="row">

      <div class="col-6">
        <app-donut [charData] = data ></app-donut>
      </div>
      <div class="col-6">
        <app-donut [charData] = data></app-donut>
      </div>

  </div>
  <div class="row">

      <div class="col-6">
        <app-donut></app-donut>
      </div>
      <div class="col-6">
        <app-donut></app-donut>
      </div>

  </div>



